html, body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
}
.grid{
  position: relative;
  overflow: auto;
  background-color: #bbada0;
  width: 450px;
  height: 450px;
  border-radius: 10px;
  padding: 5px;
  box-sizing: border-box;
}
.cell{
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: #eee4da;
  border-radius: 10px;
  text-align: center;
  line-height: 100px;
  font-size: 50px;
  margin: 10px;
}
.cell_bg{
  width: 100px;
  height: 100px;
  background-color: rgba(238, 228, 218, 0.35);
  float: left;
  border-radius: 10px;
  margin: 5px;
}
